@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="EducationalRecords" asp-action="Create" class="btn btn-primary btn-lg" role="button" aria-pressed="true" id="bt">Загрузить</a>
<a asp-controller="EducationalRecords" asp-action="Index" class="btn btn-primary btn-lg" role="button" aria-pressed="true" id="bt">Посмотреть данные</a>
<a href="http://localhost:3000/public-dashboards/466cf66a43c1419ca01419042bb3bf15" class="btn btn-primary btn-lg" role="button" aria-pressed="true" id="bt">Посмотреть дашборд</a>