@using Microsoft.AspNetCore.Identity
@using CoreDashboard.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model CoreDashboard.Models.User

@* <div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a asp-controller="EducationalRecords" asp-action="Create" class="btn btn-primary btn-lg" role="button" aria-pressed="true" id="bt">Загрузить</a>
<a asp-controller="EducationalRecords" asp-action="Index" class="btn btn-primary btn-lg" role="button" aria-pressed="true" id="bt">Посмотреть данные</a>
<a href="http://localhost:3000/public-dashboards/466cf66a43c1419ca01419042bb3bf15" class="btn btn-primary btn-lg" role="button" aria-pressed="true" id="bt">Посмотреть дашборд</a>
 *@
@*  <head>
	 <link rel="stylesheet" href="~/css/formStyle.css" />
 </head> *@
 <head>
	 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 </head>
<body>    
	<nav class="navbar navbar-expand-lg navbar-custom">
		<div class="container-fluid">
			<div>
				@* Если был произведен вход (авторизация) *@
				@if (TempData.ContainsKey("UserName"))
				{
					string name = TempData["UserName"] as string;
					string role = TempData["Role"] as string;
					<a style="text-decoration: none; color: white" href="#" class="navbar-brand">@name (@role)</a>
				}
				else
				{
					<a style="text-decoration: none; color: white" href="#" class="navbar-brand">Авторизация не произведена</a>
				}
			</div>

			<div class="d-inline-flex">
				@if (TempData.ContainsKey("UserName"))
				{
					string role = TempData["Role"] as string;
					if (role == "Администратор")
					{
						<button class="btn brn-outline-success" style="color: white" data-bs-toggle="modal" data-bs-target="#exampleModal">Зарегистрировать нового пользователя</button>
					}
					}
				@if (TempData.ContainsKey("UserName"))
				{
						<button class="btn brn-outline-success" style="color: white" onclick="location.href='@Url.Action("Authorization", "Home")'">Выйти</button>
				}
				else
				{
						<button class="btn brn-outline-success" style="color: white" onclick="location.href='@Url.Action("Logour", "Authorization")'">Войти</button>
					
				}
			</div>
		</div>
	</nav>
	<div>
		
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-bs-labelledby="exampleModalLabel" aria-bs-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2>Регистрация</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" arialabel="close"></button>
				</div>
				<div class="modal-body">
					<form asp-controller="Registration" asp-action="Register" method="post">  
						

						<div class="row mb-3">
							<input class="form_input" type="text" name="fullName" placeholder="Фамилия" required>
							<input class="form_input" type="text" name="fullName" placeholder="Имя" required>
							<input class="form_input" type="text" name="fullName" placeholder="Отчество">
							<div class="select1">
								<select name="role">
									<option value="Администратор">Администратор</option>
									<option value="Куратор направления">Куратор направления</option>
									<option value="Преподаватель">Преподаватель</option>
									<option value="Студент">Студент</option>
								</select>
							</div>
							
							<input class="form_input" type="text" name="login" placeholder="Логин" required>
							<input class="form_input" type="password" name="password" placeholder="Пароль" required>
						</div>
						<button style="margin: auto" class="btn btn-primary" type="submit" method="get">Зарегистрировать</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	@* <div class="modal fade" id="Authorization" tabindex="-1" aria-bs-labelledby="AuthorizationLabel" aria-bs-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="header">Авторизация</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" arialabel="close"></button>
				</div>
				<div class="container">
					<form class="form" asp-controller="Authorization" asp-action="Login" method="post">
						<input class="form_input" type="text" name="login" placeholder="Введите логин" required>
						<input class="form_input" type="password" name="password" placeholder="Введите пароль" required>
						<div class="forgot"><input type="checkbox">Запомнить</div>
						<button type="submit" id="submitA">Войти</button>
					</form>
				</div>
			</div>
		</div>
	</div> *@

	<div class="download" >
		<h5 align="center">Загрузить файл</h5>
		<form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
				<div class="mb-3" align="center">
					<input type="file" name="uploadedFile" class="form-control" accept=".csv, .xlsx" id="formFile">
					<input style="margin-top: 20px; align-content: center" class="btn btn-primary" type="submit" value="Загрузить базу данных" />
				</div>
			</form> 
	</div>

	<div align="center">
		<a href="http://localhost:3000/d/fdh41jfkh32f4f/dashbord-po-discipline?orgId=1&kiosk" class="btn btn-primary" role="button" aria-pressed="true" id="bt">Дашборд по дисциплине</a>
		<a href="http://localhost:3000/d/ddjocsn8bey9sf/dashbord-po-narpavlenijam-podgotovki?orgId=1&kiosk" class="btn btn-primary" role="button" aria-pressed="true" id="bt">Дашборд по направлениям обучения</a>
		<a href="http://localhost:3000/d/bdjiz8df4xz40d/dashbord-po-gruppe?orgId=1&kiosk" class="btn btn-primary" role="button" aria-pressed="true" id="bt">Дашборд по группам</a>
		<a href="http://localhost:3000/d/bdjmseqm0p5hcc/dashbord-po-studentu?orgId=1&kiosk" class="btn btn-primary" role="button" aria-pressed="true" id="bt">Дашборд по студенту</a>
	</div>

	<div class="downloaded" align="center">
		<h5>Загруженные данные</h5>
			<div>
			<table>
				<thead> 
					<tr>
					<th>№</th>
					<th>Название</th>
					<th>Дата загрузки</th>
					</tr>
				</thead>

				<tbody>
					<td>1.</td>
					<td><a href="">Программирование и основы алгоритмизации</a></td>
					<td>21.01.2023</td>
				</tbody>

				<tfoot>
					<tr>
					<td colspan="2">Общее количество датасетов:</td>
					<td>1</td>
					</tr>
				</tfoot>
			</table>
			</div>
	</div>
	
	<h3 align="center">Статистика</h3>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"">
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				Настроить фильтры</a>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10" style="background-color: white;">
				<iframe src=""></iframe>
			</div>
		</div>
	</div>

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h4 class="offcanvas-title" id="offcanvasExampleLabel">Фильтры</h4>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
		</div>
	
		<div class="offcanvas-body">
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
					Выбрать данные
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Датасет 1</a></li>
				</ul>
			</div>
			<div class="dropdown mt-2">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
					Выбрать группу
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">ПиОА Л-01</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-02</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-03</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-04</a></li>
					<li><a class="dropdown-item" href="#">ПиОА Л-05</a></li>
				</ul>
			</div>
			<div class="dropdown mt-2">
				<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
					Выбрать направление
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Значение 1</a></li>
					<li><a class="dropdown-item" href="#">Значение 2</a></li>
					<li><a class="dropdown-item" href="#">Значение 3</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->
	
	<!--
		Если авторизация не произведена, то пользователя не будет пускать дальше,
		будет перманентно открыта форма входа
	-->
	@* @if(!TempData.ContainsKey("UserName")){
		<script>
		$(document).ready(function () {
			$('#Authorization').modal('show');

			$('#Authorization').on('hide.bs.modal', function (e) {

			// Проверяем, отправлена ли форма
			if (!formSubmitted) {
				// Отменяем закрытие окна
				e.preventDefault();
				}

			});
		});

		</script>
	} *@

</body>